@import "tailwindcss";
@plugin "daisyui" {
  /* ডিফল্ট = pastel, আর ইউজারের OS ডার্ক হলে = business */
  themes: fantasy --default, business --prefersdark;
}

body {
  /* margin: 0;
  display: flex;
  
  min-width: 320px;
  min-height: 100vh; */
}
